<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA9T63JcEQORERZhGBIrhXt1ZRD53-KYF4</string>
	<key>GCM_SENDER_ID</key>
	<string>256289219399</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sirisdevelopment.motormind</string>
	<key>PROJECT_ID</key>
	<string>motormind-a5a2b</string>
	<key>STORAGE_BUCKET</key>
	<string>motormind-a5a2b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:256289219399:ios:62a4a8ac20ebc6ebeb6262</string>
</dict>
</plist>